body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
    width: 80%;
    margin: auto;
    margin-bottom: 56px;
}

h1 {
    text-align: center;
    color: #30305e;
    background-color: #97bce0;
    padding: 6px;
    margin-bottom: 0%;
}

h2 {
    font-size: 30px;
    background-color: #beb9b9;
    color: #30305e;
    padding: 12px;
    border-bottom: 2px solid #30305e;
    margin-top: 48px;
    margin-bottom: 12px;
}


ul {
    padding-left: 0px;
}

li {
    list-style-position: inside;
}

.info {
    text-align: center;
    font-size: 15px;
    background-color: #b0cfee;
    margin-top: 0%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: blue;
}

.menu{
    margin-bottom: -20px;
    text-align: center;
}

.menu li{
    list-style: none;
    background-color: #30305e;
    
    display: inline-block;
    padding: 2px;
}

.menu a{
    background-color: #beb9b9;
    color: black;
    padding: 16px;
    display: inline-block;
}

.menu a:hover {
    background-color: #838282;
    color: white;
    text-decoration: none;
}
